@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    --font-bodoni-moda: "Bodoni Moda", serif;
    --font-passions-conflict: "Passions Conflict", cursive;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1{
  font-family: var(--font-bodoni-moda);
}
i{
  font-family: var(--font-passion-conflict);
}