@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-bodoni-moda: "Bodoni Moda", serif;
  
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url("../public/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf") format('ttf'),
  url('../public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf') format('ttf'),
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1{
  font-family: "Bodoni Moda", serif
}
